Repository iodide-project/iodide, pull requests merged in 2018-02, with the labels that each got.

#340 updated the ReactTable implementation to JSON.stringify other objects…
  src/components/output.jsx
Labels: bug

#347 fixes the row count issue with tables < 25 rows
  src/components/output.jsx
Labels: bug, output formatting

#338 fixes the CSSCell update bug and corrects the test cases
  src/components/cell-type-css.jsx
  test/cell-type-css.test.js
Labels: bug

#344 Recursively call output handlers
  examples/output-handling.jsmd
  src/components/output.jsx
Labels: enhancement, output formatting
